<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ConectionString" value="Data Source={0};Version=3;"/>
    <add key="PathToDBFile" value="c:\Docs\Prj\TaskManager\TaskDB.db"/>
  </appSettings>
</configuration>